@import url('https://fonts.googleapis.com/css?famyly=Roboto:400,500,700');

*{
    -webkit-box-sizing: border-box;
    
    margin: 0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fff url(../imagens/fundo.png) repeat ;
}

a{
    text-decoration: none;
}

.menu{
    background-color: #ffcf00;
    box-shadow: inset 0 0 25px rgba(232, 105, 2, 0.4);
    border-top: 1px solid #ffd935;
    border-bottom: 2px solid #e9a203;
    height: 70px;
}

.logo{
    padding: auto;
}

.produto-card{
    width: 380px;
    position: relative;
    box-shadow: 0 2px 9px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}


.produt-card{
    width:380px;
    position: relative;
    box-shadow: 0 2px 9px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.anuncio{
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 9px 10px;
}

.produto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;

}

.produto img {
    max-width: 100%;
    max-height: 100%;
    
}

.produto-detalhe{
    padding: 15px;
}

.produto-categoria{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;

}

.produto-detalhe h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.8s;

}

.produto-detalhe h4 a:hover {
    color: blue;

}

.produto-detalhe p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.produto-bottom-detalhe{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.produto-bottom-detalhe div {
    float: left;
    width: 50%;
}

.produto-preco {
    font-size: 18px;
    color: red;
    font-weight: 600;
}

.produto-preco small{
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;

}

.button{
    display: inline-block;
    color:#000;
    text-decoration: none;
    padding: 3px 8px;
    border: 2px solid red;
    border-radius: 5px;
    margin: 2px 15px 17px;
    transition: 1s;
   
}

.button:hover{
    background: red;
    animation: pulsate 1s ease-in-out;
    color: #fff;

}

@keyframes pulsate{
    0%{
        box-shadow: 0 0 25px red,
        0 0 50px pink;
    }
}



#rodape{
    background-color: #ffcf00;
    border-top: 1px solid #ffd935;
    border-bottom: 2px solid #e9a203;
    height: 50px;
  }





/******
teste

.produto-links{
    text-align: right;
}

.produto-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.produto-links a:hover{
    color: red;
}



